<%- include('header.ejs'); -%>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="CSS/admindashboard.css">
    <title>Dashboard</title>
</head>
<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light">
        <button class="navbar-toggler ml-auto mb-2 bg-light" type="button"
            data-toggle="collapse" data-target="#myNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNavbar">
            <div clas="container-fluid">
                <div class="row">
                    <!-- sidebar -->
                    <div class="col-xl-2 col-lg-3 col-md-4 sidebar fixed-top">
                        <a href="/admindashboard" class="navbar-brand text-white d-block mx-auto text-center py-3 mb-4 bottom-border">Complaint <br>Management System</a>
                        <div class="bottom-border pb-3">
                            <img src="assets/user.jpg" width="50"
                            class="rounded-circle mr-3">
                            <a href="#" class="text-white"><%= data[0].name %></a>
                        </div>
                        <ul class="navbar-nav flex-column mt-4">
                            <li class="nav-item"><a href="#" class="nav-link text-white p-3 mb-2 current"><i class="fa fa-book text-light fa-lg mr-3" aria-hidden="true"></i>Complaints</a></li>
                        </ul>
                    </div>
                    <!-- top-nav -->
                    <div class="col-lg-10 col-lg-9 col-md-8  ml-auto bg-dark fixed-top py-2 top-navbar">
                        <div class="row align-items-center">
                            <div class="offset-4 col-md-4">
                                <h4 class="text-light text-uppercase mb-0">Dashboard</h4>
                            </div>
                            <div class="offset-1 col-md-3">
                                <ul>
                                    <li class="nav-item ml-md-auto" data-toggle="modal" data-target="#sign-out"><a href="#" classs="nav-link"><i class="fa fa-sign-out text-danger fa-lg" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end of top-nav -->
                    <!-- end of sidebar -->
                </div>
            </div>
        </div>
    </nav>
    <!-- end of navbar -->

    <!-- modal -->
    <div class="modal fade" id="sign-out">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Want to leave?</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;
                    </button>
                </div>
                <div class="modal-body">
                    Press logout to leave
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Stay Here</button>
                    <a href="/logout"><button type="button" class="btn btn-danger">Logout</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal -->

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-9 ml-auto">
                    <div class="row pt-5 mt-3 mb-5">
                        <h3> >Pending Complaints</h3>
                        <% for(var i=0; i<complains.length; i++){ %>
                            <div class="complain">
                            <div class="post"><%= complains[i].post_time %></div><br>

                            <div class="form-group row">
                                <label for="victimname" class="col-md-2 col-form-label">Victim Name</label>
                                    <%= complains[i].vic_name %>
                            </div>
                            <div class="form-group row">
                                <label for="dateofcrime" class="col-md-2 col-form-label">Date of Crime</label>
                                    <%= complains[i].date %>
                            </div>
                            <div class="form-group row">
                                <label for="timeofcrime" class="col-md-2 col-form-label">Time of Crime</label>
                                    <%= complains[i].time %>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-2 col-form-label">City</label>
                                    <%= complains[i].city %>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-md-2 col-form-label">Address</label>
                                    <%= complains[i].address %>
                            </div>
                            <div class="form-group row">
                                <label for="type" class="col-md-2 col-form-label">Type of Crime</label>
                                    <%= complains[i].type %>
                            </div>
                            <div class="form-group row">
                                <label for="contact" class="col-md-2 col-form-label">Contact Number</label>
                                    <%= complains[i].phone %>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-md-2 col-form-label">Description</label>
                                    <%= complains[i].description %>
                            </div>
                            <div class="form-group row">
                                <form action="/admindashboard" method="post"></form>
                                    <label for="status" class="col-md-2 col-form-label">Status</label>
                                        <select id="myList1">
                                            <option value = "1">In Process</option>
                                            <option value = "2">Closed</option>
                                            <option value = "3">Pending</option>
                                        </select>
                                        <div class="offset-md-2 col-md-10" style="margin-top: 40px; margin-left: 40px;">
                                            <button type="submit" class="btn btn-primary">Update Status</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<%- include('footer.ejs'); -%>
